<nav class="fixed-nav-bar">
  <div id="navbar-col" class="col-md-8 col-md-offset-2">
    <div id="sign-in-button"><a href="#" data-toggle="modal" data-target="#myModal">Sign in</a></div>
    <h1 id="carbon-logo">Carbon Calculator</h1>
  </div>
</nav>


<section class="content">
  <div class="col-md-8 col-md-offset-2">
    <h3>Recent Footprints</h3>
    <table class="table table-condensed">
      <tr id="leaderboard-top-row">
        <th><a class="leaderboard-th-a" href="#" ng-click="sortMethod='-id'">Created at</a></th>
        <th class="leaderboard-th-a">Updated at</th>
        <th><a class="leaderboard-th-a" href="#" ng-click="sortMethod='user.username'">Created by</a></th>
        <th><a class="leaderboard-th-a" href="#" ng-click="sortMethod='-co2_output'">CO<sub>2</sub> output</a></th>
      </tr>
      <tr ng-repeat="post in posts | orderBy:sortMethod" class="leaderboard-middle-row">
        <td>{{post.formatted_created_at}}</td>
        <td>{{post.formatted_updated_at}}</td>
        <td><a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a></td>
        <td>
          {{post.co2_output}} &nbsp;
          <a href="#/posts/{{post.id}}"><i class="fa fa-external-link-square"></i></a>
        </td>
      </tr>
    </table>
    <form ng-submit="addPost()" style="margin-top:30px;">
      <h3>Add a New Footprint</h3>
      <div class="form-group">
        <label>Gallons of Gasoline per Day</label>
        <input type="number" step="0.1" class="form-control" placeholder="Gallons of Gasoline per Day" ng-model="gal_of_gas_per_day" required></input>
      </div>
      <div class="form-group">
        <label>Gallons of Hot Water per Day</label>
        <input type="number" step="0.1" class="form-control" placeholder="Gallons of Hot Water per Day" ng-model="gal_of_hotwater_per_day" required></input>
      </div>
      <div class="form-group">
        <label>Hot Water Source</label><br>
        <label class="radio-inline">
        <input type="radio" ng-model="hotwater_source" name="hotwater_source" value="Oil" required> Oil
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="hotwater_source" name="hotwater_source" value="Electric" required> Electric
        </label>
      </div>
      <div class="form-group">
        <label>kWh of Energy per Day (excluding electric hot water)</label>
        <input type="number" step="0.1" class="form-control" placeholder="kWh of Energy per Day" ng-model="kwh_of_energy_per_day" required></input>
      </div>
      <div class="form-group">
        <label>Energy Source</label><br>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Biomass" required> Biomass
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Coal" required> Coal
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Concentrated Solar Power" required> Concentrated Solar Power
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Geothermal" required> Geothermal
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Hydropower" required> Hydropower
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Natural Gas" required> Natural Gas
        </label>
        <label class="radio-inline">
        <input type="radio" ng-model="energy_source" name="energy_source" value="Nuclear" required> Nuclear
        </label>
      </div>
      <div class="form-group">
        <label>Lbs of Meat per Day</label>
        <input type="number" step="0.1" class="form-control" placeholder="Lbs of Meat per Day" ng-model="lbs_of_meat_per_day" required></input>
      </div>
      <div class="form-group">
        <label>Airline Miles per Year</label>
        <input type="number" step="0.1" class="form-control" placeholder="Airline Miles per Year" ng-model="airline_miles_per_year" required></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
</section>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="myModalContent" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">

        <form ng-submit="login()" id="login-form">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
          </div>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          </div>
          <input type="submit" class="btn btn-default" value="Sign in">
        </form>

      </div>
    </div>
  </div>
</div>