<div class="page-header">
  <h1>Carbon Calculator</h1>
</div>

<h3>Recent Footprints</h3>

sort by:

<button ng-click="sortMethod='id'">id</button>

<br><br>

<div ng-repeat="post in posts | orderBy:sortMethod">
  <span style="font-size:20px; margin-left:10px;">
    {{post.id}}
    <span><a href="#/posts/{{post.id}}"><i class="fa fa-external-link-square"></i></a></span>
    posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
  </span>
</div>

<form ng-submit="addPost()" style="margin-top:30px;">
  <h3>Add a New Footprint</h3>
  <div class="form-group">
    <label>Gallons of Gasoline per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="Gallons of Gasoline per Day" ng-model="gal_of_gas_per_day" required></input>
  </div>
  <div class="form-group">
    <label>Gallons of Hot Water per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="Gallons of Hot Water per Day" ng-model="gal_of_hotwater_per_day" required></input>
  </div>
  <div class="form-group">
    <label>kWh of Energy per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="kWh of Energy per Day" ng-model="kwh_of_energy_per_day" required></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>