<div class="row" style="left: 15px; position: relative;">
  <div class="col-md-2 col-md-offset-9" style="height:57px;padding-top:15px">
    <div class="dropdown" style="float:right">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      {{ user.username }}
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="left:-70px">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Account</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
    <a href="#" style="float:right;display:none;">{{ user.username }} <i class="fa fa-sort-desc"></i></a>
  </div>
</div>
<section class="row" style="left: 15px; position: relative;">
  <div class="col-md-2 col-md-offset-1" style="">
    <ul class="dashboard-nav-ul">
      <li><img src="/carbonlogo.png" style="margin-bottom:30px">
      <li>
      <li style="padding-bottom:10px"><a href="#/home"><i class="fa fa-tree"></i>&nbsp; Footprints</a></li>
      <li style="padding-bottom:50px"><a href="#/progress"><i class="fa fa-area-chart"></i> Progress</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <a class="new-footprint" data-toggle="tooltip" data-placement="left" title="New footprint" ng-click="newFootprint();"><i class="fa fa-plus-square-o"></i></a>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <h4 class="dashboard-h4">My Footprints</h4>
    <table class="table table-condensed" id="leaderboard-table">
      <tr id="leaderboard-top-row">
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodId }}" href="#" ng-click="changeSortMethod('-id')">
          Created at 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodId_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodId_DESC }}"></i>
          </a>
        </th>
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodUpdatedAt }}" href="#" ng-click="changeSortMethod('-updated_at_id')">
          Updated at 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodUpdatedAt_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodUpdatedAt_DESC }}"></i>
          </a>
        </th>
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodCo2Output}}" href="#" ng-click="changeSortMethod('-co2_output')">
          CO<sub>2</sub> output 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodCo2Output_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodCo2Output_DESC }}"></i>
          </a>
        </th>
      </tr>
      <tr ng-repeat="post in posts | orderBy:sortMethod" class="leaderboard-middle-row">
        <td>{{post.formatted_created_at}}</td>
        <td>{{post.formatted_updated_at}}</td>
        <td>
          {{post.co2_output}} &nbsp;
          <a href="#/posts/{{post.id}}"><i class="fa fa-external-link-square"></i></a>
        </td>
      </tr>
    </table>
  </div>
</section>
<br><br>
<form ng-submit="addPost()" style="margin-top:30px;">
  <h3>Add a New Footprint</h3>
  <div class="form-group">
    <label>Gallons of Gasoline per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="Gallons of Gasoline per Day" ng-model="gal_of_gas_per_day" required></input>
  </div>
  <div class="form-group">
    <label>Gallons of Hot Water per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="Gallons of Hot Water per Day" ng-model="gal_of_hotwater_per_day" required></input>
  </div>
  <div class="form-group">
    <label>Hot Water Source</label><br>
    <label class="radio-inline">
    <input type="radio" ng-model="hotwater_source" name="hotwater_source" value="Oil" required> Oil
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="hotwater_source" name="hotwater_source" value="Electric" required> Electric
    </label>
  </div>
  <div class="form-group">
    <label>kWh of Energy per Day (excluding electric hot water)</label>
    <input type="number" step="0.1" class="form-control" placeholder="kWh of Energy per Day" ng-model="kwh_of_energy_per_day" required></input>
  </div>
  <div class="form-group">
    <label>Energy Source</label><br>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Biomass" required> Biomass
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Coal" required> Coal
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Concentrated Solar Power" required> Concentrated Solar Power
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Geothermal" required> Geothermal
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Hydropower" required> Hydropower
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Natural Gas" required> Natural Gas
    </label>
    <label class="radio-inline">
    <input type="radio" ng-model="energy_source" name="energy_source" value="Nuclear" required> Nuclear
    </label>
  </div>
  <div class="form-group">
    <label>Lbs of Meat per Day</label>
    <input type="number" step="0.1" class="form-control" placeholder="Lbs of Meat per Day" ng-model="lbs_of_meat_per_day" required></input>
  </div>
  <div class="form-group">
    <label>Airline Miles per Year</label>
    <input type="number" step="0.1" class="form-control" placeholder="Airline Miles per Year" ng-model="airline_miles_per_year" required></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="myModalContent" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Footprint</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="login()" id="login-form">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
          </div>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          </div>
          <input type="submit" class="btn btn-default" value="Sign in">
        </form>
      </div>
    </div>
  </div>
</div>