<div class="row" style="left: 15px; position: relative;">
  <div class="col-md-2 col-md-offset-9" style="height:57px;padding-top:15px">
    <div class="dropdown" style="float:right">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      {{ user.username }}
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="left:-70px">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Account</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
    <a href="#" style="float:right;display:none;">{{ user.username }} <i class="fa fa-sort-desc"></i></a>
  </div>
</div>

<section class="row" style="left: 15px; position: relative;">
  <div class="col-md-2 col-md-offset-1" style="">
    <ul class="dashboard-nav-ul">
      <li><img src="/carbonlogo.png" style="margin-bottom:30px">
      <li>
      <li style="padding-bottom:10px"><a href="#/home"><i class="fa fa-tree"></i>&nbsp; Footprints</a></li>
      <li style="padding-bottom:50px"><a href="#/progress"><i class="fa fa-area-chart"></i> Progress</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <a class="new-footprint" data-toggle="tooltip" data-placement="left" title="New footprint" ng-click="newFootprint();"><i class="fa fa-plus-square-o"></i></a>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <h4 class="dashboard-h4">My Footprints</h4>
    <table class="table table-condensed" id="leaderboard-table">
      <tr id="leaderboard-top-row">
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodId }}" href="#" ng-click="changeSortMethod('-id')">
          Created at 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodId_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodId_DESC }}"></i>
          </a>
        </th>
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodUpdatedAt }}" href="#" ng-click="changeSortMethod('-updated_at_id')">
          Updated at 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodUpdatedAt_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodUpdatedAt_DESC }}"></i>
          </a>
        </th>
        <th class="col-md-3">
          <a class="leaderboard-th-a sorting-{{ sortMethodCo2Output}}" href="#" ng-click="changeSortMethod('-co2_output')">
          CO<sub>2</sub>e output 
          <i class="fa fa-sort-asc sorting-arrow-{{ sortMethodCo2Output_ASC }}"></i>
          <i class="fa fa-sort-desc sorting-arrow-{{ sortMethodCo2Output_DESC }}"></i>
          </a>
        </th>
      </tr>
      <tr ng-repeat="footprint in footprints | orderBy:sortMethod" class="leaderboard-middle-row">
        <td>{{footprint.formatted_created_at}}</td>
        <td>{{footprint.formatted_updated_at}}</td>
        <td>
          {{footprint.co2_output}} g &nbsp;
          <a href="#/footprints/{{footprint.id}}"><i class="fa fa-external-link-square"></i></a>
        </td>
      </tr>
    </table>
  </div>
</section>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="myModalContent2" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Daily Average Footprint</h4>
      </div>
      <div class="modal-body">
        On an average day I am using:<br>
        <ul style="list-style-type: circle;margin-top:5px">
          <li ng-repeat="carbon_source in carbon_sources | orderBy:'type'" 
            style="margin-bottom:5px;"> 
            {{ carbon_source.name }} 
            <span ng-show="carbon_source.type == 'kilowatt-hours of Electricity'">
            {{ carbon_source.type.replace('Electricity', ' ' + energy_source + ' Electricity') }}
            </span>
            <span ng-hide="carbon_source.type == 'kilowatt-hours of Electricity'">
            {{ carbon_source.type }}
            </span>
            <button class="btn btn-danger" style="height: 22px;padding: 0;opacity:0.5;"
              ng-click="removeFootprintItem(carbon_source.type)">
            remove
            </button>
          </li>
        </ul>
        <form ng-submit="addFootprintItem()">
          <input ng-model="footprint_item_number" type="number" step="0.1" min="0.1" max="1000000000"class="form-control" style="width:100px;display:inline-block;" required> </input>
          &nbsp;
          <select class="selectpicker" ng-model="footprint_item_name">
            <optgroup label="Home">
              <option>gallons of Heating Oil</option>
              <option>gallons of Propane</option>
              <option selected="selected">kilowatt-hours of Electricity</option>
              <option>metric tons of Coal</option>
              <option>metric tons of Wood</option>
              <option>therms of LP Gas</option>
              <option>therms of Natural Gas</option>
            </optgroup>
            <optgroup label="Food">
              <option>pounds of Meat</option>
            </optgroup>
            <optgroup label="Transportation">
              <option>gallons of Gasoline</option>
              <option>miles in a Taxi</option>
              <option>miles on a Bus</option>
            </optgroup>
          </select>
          &nbsp;
          <button type="submit" class="btn btn-default">Add</button>
        </form>
        <span ng-show="blankFormError" class="my-animation" style="color:rgb(255,100,100);font-weight:bold">Please add a source of carbon emissions!</span>
        <div ng-show="footprint['carbon_sources']['kilowatt-hours of Electricity']"
          class="my-animation">
          <br>Please select your electricity source:<br>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" ng-click="setEnergySource('Coal')">
            <input type="radio"> Coal
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Diesel')">
            <input type="radio"> Diesel
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Heavy Oil')">
            <input type="radio"> Heavy Oil
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Fuel Cell')">
            <input type="radio"> Fuel Cell
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Natural Gas')">
            <input type="radio"> Natural Gas
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Nuclear')">
            <input type="radio"> Nuclear
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Geothermal')">
            <input type="radio"> Geothermal
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Solar PV')">
            <input type="radio"> Solar PV
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Biomass')">
            <input type="radio"> Biomass
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Solar Thermal')">
            <input type="radio"> Solar Thermal
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Biogas')">
            <input type="radio"> Biogas
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Hydroelectric')">
            <input type="radio"> Hydroelectric
            </label>
            <label class="btn btn-primary" ng-click="setEnergySource('Wind')">
            <input type="radio"> Wind
            </label>
          </div>
        </div>
        <span ng-show="energySourceError" class="my-animation" style="color:rgb(255,100,100);font-weight:bold"">Please select an energy source!</span>
        <br><br>
        <button class="btn btn-info" ng-click="addDailyAverageFootprint()">Submit Daily Average Footprint</button>
      </div>
    </div>
  </div>
</div>