PROGRESS

<br><br>

<div style="width:80%; margin:auto;">
  <canvas id="line" class="chart chart-line" data="data"
    labels="labels" legend="true" series="series"
    click="onClick">
  </canvas> 
</div>

<br><br>

{{ myData }}

<br><br>

{{ myDates }}