PROGRESS

<br><br>

<div style="width:80%; margin:auto;">
  <h4 class="dashboard-h4">Output of CO<sub>2</sub>e </h4>
  <canvas id="myChartWithDates"></canvas>
  <br><br>
  <button ng-click="drawScatter('week')">week</button>
  <button ng-click="drawScatter('month')">month</button>
  <button ng-click="drawScatter('year')">year</button>
  <button ng-click="drawScatter('all')">all</button>
</div>


