/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- elements --- */

body {
  padding-top: 77px;
}

/* --- classes --- */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: white;
  border-bottom: 2px solid rgb(224,224,224);
  height: 77px;
}

.form-control {
  width: 100%;
  border: 1px solid yellow;
}

.leaderboard-th-a {
  color: rgb(162,162,162);
}

.leaderboard-th-a:link {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:active {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:hover {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:visited {
  text-decoration: none;
  color: rgb(162,162,162);
}

.modal {
  z-index:9999;
}

.modal-title {
  font-weight: normal;
}

/* --- ids --- */

#carbon-logo {
  color: rgb(21,110,216); 
  font-size: 32px;
  margin: auto;
  margin-top: 20px;
  width: 400px;
}

#navbar-col {
  text-align:center;
  position: fixed;
  left:0;
  right:0;
}

#login-form {
  margin-top: 7px;
}

#login-form > input {
  background: rgb(0,95,218);
  border: 0px;
  color: white;
  float: right;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 21px;
}


#login-form > .input-group > input {
  border: 1px solid rgb(47,54,61);
  border-radius: 3px;
  color: rgb(159,159,159);
  font-size: 16px;
  height: 38px;
  margin-top: 24px;
  width: 378px;
}

#myModalContent {
  width: 420px;
  height: 300px;
  margin: auto;
  margin-top: 91px;
}

#sign-in-button {
  float: right;
  margin: 27px 20px 0 20px;
}











