/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face { font-family: OpenSans; src: url('/fonts/OpenSans-Regular.ttf'); } 
@font-face { font-family: OpenSans; font-weight: bold; src: url('/fonts/OpenSans-Bold.ttf'); } 
@font-face { font-family: OpenSans; font-weight: lighter; src: url('/fonts/OpenSans-Light.ttf'); } 

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- elements --- */

body {
  padding-top: 77px;
  font-family: OpenSans !important;
}

h1, h4 {
  color: rgb(85,85,85) !important;
  font-weight: lighter !important;
  letter-spacing: 1px;
  padding-left: 20px;
  line-height: 150% !important;
}

h3 {
  color: rgb(85,85,85) !important;
  font-weight: normal !important;
  padding: 20px;
}

/* --- classes --- */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: white;
  border-bottom: 2px solid rgb(224,224,224);
  height: 77px;
}

.form-control {
  width: 100%;
  border: 1px solid yellow;
}

.input-group {
  width: 100%; 
}

.leaderboard-middle-row {
  height: 46px;
}

.leaderboard-middle-row > td {
  padding-top: 12px !important;
}

.leaderboard-th-a {
  color: rgb(162,162,162);
  font-weight: lighter;
}

.leaderboard-th-a:link {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:active {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:hover {
  text-decoration: none;
  color: rgb(162,162,162);
}

.leaderboard-th-a:visited {
  text-decoration: none;
  color: rgb(162,162,162);
}

.modal {
  z-index:9999;
}

.modal-title {
  font-weight: normal;
}

.sorting-true {
  font-weight: bold;
  letter-spacing: '';
}

.sorting-false {
  letter-spacing: 0.4px;
}

.sorting-arrow-true {
  display: '';
}

.sorting-arrow-false {
  display: none !important;
}

/* --- ids --- */

#carbon-logo {
  color: rgb(21,110,216); 
  font-size: 32px;
  margin: auto;
  margin-top: 20px;
  width: 400px;
}

#navbar-col {
  left:0;
  position: fixed;
  right:0;
  text-align:center;
}

#leaderboard-table {
  border-bottom: 1px solid rgb(213,213,213);
}

#leaderboard-top-row > th {
  border-top: 0px;
  border-bottom: 2px solid rgb(213,213,213);
}

#login-form {
  margin-top: 7px;
}

#login-form > input, #register-form > input {
  background: rgb(0,95,218);
  border: 0px;
  color: white;
  float: right;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: 21px;
}

#login-form > .input-group > input, #register-form > .input-group > input {
  border-radius: 3px;
  color: rgb(159,159,159);
  font-size: 16px;
  height: 38px;
  margin-top: 24px;
}

#login-form > .input-group > input { 
  border: 1px solid rgb(47,54,61);
  width: 378px; 
}

#myModalContent {
  width: 420px;
  height: 300px;
  margin: auto;
  margin-top: 91px;
}

#register-form {
  margin-left: 20px;
  max-width: 400px;
  padding-right: 20px;
}

#register-form > .input-group > input { 
  border: 1px solid rgb(215,215,215);
  width: 100% !important;
}

#sign-in-button {
  float: right;
  margin: 27px 20px 0 20px;
}











