/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- elements --- */

body {
  min-height: 1000px;
  padding-top: 77px;
}

/* --- classes --- */


/* --- ids --- */

#carbon-logo {
  color: rgb(21,110,216); 
  font-size: 32px;
  margin: auto;
  margin-top: 20px;
  width: 400px;
}

#home-navbar {
  background: white;
  border-bottom: 2px solid rgb(224,224,224);
  height: 77px;
}

#sign-in-button {
  float: right;
  margin: 27px 20px 0 20px;
}
